<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}" >
   
   
    <link rel="website icon" type="png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  
    <style>
        
        
        body{
        background-color: azure;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-family: "Oswald", sans-serif;
        }
        h2 {
            color: rgb(0, 0, 0);
            text-align: center;
        }
    </style>

    
</head>
<body>

    {% load crispy_forms_tags %}

    <div class="container">
        <br><br><br><br><br><br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2><b>ingrese sus credenciales</b></h2>
                        <hr>
                        <form action="#" method="POST">
                            {% csrf_token %}

                            {{form|crispy}}
                            
                            <a href="{% url 'home' %}" class="btn btn-primary" style="float: left;">Volver</a>
                            <input type="submit" value="ingresar" class="btn btn-success" style="float: right;">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/validacion.js' %}"></script>

</html>